{% extends "base.html" %}



{% block content %}

   <div class="jumbotron">
      <div class="container">
        <h1>Welcome to BuskerBook!</h1>
        <p>We're a site that's dedicated to connecting fans to street performers. Our goal is go make it easy for fans to find performers and performances that they enjoy and prevent them from missing out on fantastic events that they otherwise might not have known about!</p>
        <p><a class="btn btn-primary btn-lg" href="/search/performer" role="button">Search for a Performer Now &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>New Here?</h2>
          <p> If you create an account with us you'll be able to follow performers and see when your favorite performers are planning on having their next performances. All you need is an email! </p>
          <p><a class="btn btn-default" href="/signup" role="button">Sign Up &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>Are you a performer?</h2>
          <p>BuskerBook makes it much easier for your fans to see when you are planning on having your performances, and it's an easy and FREE way to market yourself. It also makes it easy for you to collaborate with other artists!</p>
          <p><a class="btn btn-default" href="#" role="button">Sign Up as a Performer &raquo;</a></p>
       	</div>

      </div>

    </div>

    <hr>




{% endblock %}