<!DOCTYPE html>
<html lang="en">
<head>
	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
	<link href="/static/css/shrink.css" rel="stylesheet">
  <link href="/static/css/carousel.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	<script src="/static/js/shrink.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scaleable=no">


  {% block header %}{% endblock %}

	
	<title>Buskers, yo</title>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
</head>

<body>
<div class="navbar-wrapper">
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Isaiah's the bomb!</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            {% if current_user.is_authenticated() %}
              {% if current_user.isPerformer() %}
                <li><a href="/performerlanding">Home</a></li>
              {% else %}
                <li><a href="/userlanding">Home</a></li>
              {% endif %}

            {% else %}
              <li><a href="/">Home</a></li>
            {% endif %}
            <li><a href="/about">About</a></li>
            {% if current_user.is_authenticated() %}
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ current_user.name }} <span class="caret"></span></a>
              <ul class="dropdown-menu pull-right" role="menu">
                {% if current_user.isPerformer() %}
                  <li><a href="/createconcert">Create Concert</a></li>
                  <li><a href="/concerts/{{ current_user.performer_email }}">My Concerts</a></li>
                  <li><a href="/upcoming-concerts">Upcoming Concerts</a></li>
                  <li><a href="/search/concerts">Search Concerts</a></li>

                {% else %}
                  <li><a href="/favorites">Favorites</a></li>
                  <li><a href="/upcoming-concerts">Upcoming Concerts</a></li>
                  <li><a href="/search/concerts">Search Concerts</a></li>
                  <li><a href="/search/performer">Search Performer</a></li>
                {% endif %}
                <li class="divider"></li>
                <li class="dropdown-header">Account options</li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/deleteaccount">Delete Account</a></li>
              </ul>
            {% else %}
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  </div>
</div>




{% block content %}{% endblock %}

<footer class="footer">
  <div class="container">
    <p class="text-muted footer-element">&#169; Kirby Olson and Isaiah Mayerchak</p>
  </div>
</footer>
</body>
</html>





