{% extends "table_base.html" %}
{% block tablehead %}
	<thead>
		<th>#</th>
		<th>Concert</th>

		{% if current_user.isPerformer %}
			<th>Edit</th>
			<th>Delete</th>

		{% endif %}

	</thead>

{% endblock %}



{% block tablebody %}

{% for concert in concerts %}
	<tbody>	
		<tr>
			<td>{{ loop.index }}</td>
			<td>{{ concert }}</td>
		</tr>
	</tbody>

	{% if current_user.isPerformer %}

		{% if current.user == concert.owner %}
			<td><a class="glyphicon glyphicon-cog" href="/edit/concert/{{ concert.generated_id }}"></a></td>
			<td><a class="glyphicon glyphicon-trash" href="/deleteconcert/{{ concert.generated_id }}"></a></td>

		{% endif %}

	{% endif %}

{% endfor %}

{% endblock %}