{% extends "base.html" %}

{% block content %}

	<div>

		<div>
			
			<h1>Welcome to Kirby and Isaiah's amazeballs webpage</h1>

			<h2>Stuff is still in development, and this page isn't even live yet, so I don't know how you're seeing this, so props to you</h2>

		</div>

		<div>

			<div>

				<p>Been with us already? try this!</p>
				
				<a href="/login">login here</a>

			</div>

			<div>
				
				<p>New user? Try this instead!</p>

				<a href="/signup">Register here</a>


			</div>



		</div>

		
	</div>


{% endblock %}