{% extends "base.html" %}

{% block header %}

<style>
body { 
  min-height: 100%;
  background: url(http://www.pxleyes.com/images/contests/street-performers-2/fullsize/Street-Performer-4ee18c0dc0ae9_hires.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #FFFFFF;
}
</style>

{% endblock %}

{% block content %}

<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">Welcome!</h1>
            <p class="lead">BuskerBook provides a direct connection from street performers to the fans on the streets</p>

          </div>

        </div>

      </div>

    </div>




{% endblock %}