{% extends "form_base.html" %}

{% block form_items %}
	<form method="POST" action"/confirmed" class="form-horizontal">
		{{ form.hidden_tag() }}
		<div class="control-group">
			<label class="control-label" for="new_email_username">Email</label>
			<div class="controls">
				{{ form.new_email_username(placeholder="Email") }}
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="new_password">Password</label>
			<div class="controls">
				{{ form.new_password(placeholder="Password") }}
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					Performer?
				</label> 
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<button type="submit" value="Go" class="btn">Register</button>
			</div>
		</div>

		
	</form>


{% endblock %}
