{% extends "landing_base.html" %}




{% block lander %}
   <div class="jumbotron">
      <div class="container">
        <h1>Hello, {{ current_user.name }}</h1>
        <p>Thanks again for creating an account on our site. Every time someone joins the site becomes more useful, so thanks for contributing! We hope you find some fantastic performances.
        <p><a class="btn btn-primary btn-lg" href="/upcoming-concerts" role="button">See upcoming performances by your favorite artists. &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h4>Know a performer you'd like to follow?</h4>
          <p></p>
          <p><a class="btn btn-default" href="/search/performer" role="button">Find them here &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h4>Want to search for performances near you or on a certain day?</h4>
          <p></p>
          <p><a class="btn btn-default" href="/search/concerts" role="button">Search for Performances Here &raquo;</a></p>
       	</div>
        <div class="col-md-4">
          <h4>Are you a performer, too? BuskerBook is a fantastic way to promote your performances.</h4>
          <p></p>
          <p><a class="btn btn-default" href="/signup/performer" role="button">Sign Up as a Performer today &raquo;</a></p>
        </div>
      </div>

    </div>

    <hr>
{% endblock %}